
 body {
    height: 100%;
    margin: 0;
    padding: 0;
}

header h1 {
    background-color: red;
    text-align: right;
    padding: 20px;
    margin: 0;

}

.navigation {
    position: sticky;
    top: 0;
    z-index: 1;
}

.menu {
    background-color: #7F7F7F;
    margin: 0;
}

.menu li {
    display: inline-block;
    padding: 10px;
}

.menu li a {
    color: white;
    text-decoration: none;
    font-size: 20px;

}
.menu li:hover{
    background-color: black;

}
.dropdown{
    position: absolute;
    background-color: #F5F5F5;
    max-width: 150PX;
    top: 42px;
    display: none;
    padding: 0;
}
.dropdown li{
    display: block;
}

.menu li:nth-last-child(2):hover .dropdown,.menu li:nth-last-child(1):hover .dropdown
{
    display:block;
}


.dropdown li a{
    color: #7FA6CA;
    font-size: 16PX;

}
.dropdown li:hover{
    background-color: gainsboro;

}
    
